.thumbnail {
  display: block;
  width: 100%;
}

.video-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.video-preview {
  width: 100%;
  line-height: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 1px;
}
.video-author {
  margin-bottom: 2px;
}

.video-grid {
  column-gap: 16px;
  row-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
